@model IEnumerable<GradeHub.Models.Credentials>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('@Url.Content("~/image/pupbg.png")');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }

    h1, a, th, td {
        color: white; 
    }
</style>

<h1>Students Record Information</h1>

<p>
    <a asp-action="Create">Add New Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Record Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
